## Data Types

Numeric : int(10), float(2.5), complex(2+6j)
Text : str(string)
Sequence : list, tuple, range
Mapping : dict {"name":["pooja","sanika"]}
SetDT : set, frozenset
boolean : bool(true and false)

## Numeric

### 1.int

integer will include whole numbers
zero,+ve, -ve numbers

In [1]:
n = 24
type(n)

int

In [2]:
n = 0
type(n)

int

In [3]:
n = -25
type(n)

int

### 2. Float

It contains/includes desimal point

In [4]:
n = 2.5
type(n)

float

In [5]:
n = -9.4
type(n)

float

In [6]:
n = 5.0
type(n)

float

In [7]:
n =0.1
type(n)

float

### 3. Complex

It contains real and imaginary part

In [8]:
x = 1+5j
type(x)

complex

In [9]:
y = -1+5j
type(y)

complex

In [10]:
z = -1-4j
type(z)

complex

In [13]:
a = 9+0.6j
type(a)

complex

In [17]:
a = 3+2.6j
type(a)

complex

In [18]:
b =4+0j
type(b)

complex

In [19]:
c = 5+3a

SyntaxError: invalid decimal literal (3849388431.py, line 1)

In [20]:
c = 2i+6j
type(c)

SyntaxError: invalid decimal literal (256067898.py, line 1)

In [21]:
d = 3+2i

SyntaxError: invalid decimal literal (1725853005.py, line 1)

## Python Casting

In [ ]:
int()
float()
complex()
str()

a = 10      integer 
b = 10.0    float
c= 10+0j    complex
d ="10"     str

## 1. int to float, complex, string

In [22]:
a =20
type(a)

int

In [25]:
b = float(a)
print(b)
type(b)

20.0

float

In [26]:
c = complex(a)
print(type(c))
print(c)

<class 'complex'>
(20+0j)

In [29]:
d = str(a)
print(type(d))
type(d)

<class 'str'>

str

In [30]:
a = 45
print('Value of our variable is:',a , type(a))
a = float(a)
print('Value of our variable is:',a , type(a))

Value of our variable is: 45 <class 'int'>
Value of our variable is: 45.0 <class 'float'>

In [ ]:
a = 45
print('Value of our variable is:',a , type(a))
a = complex(a)
print('Value of our variable is:',a , type(a))

In [ ]:
a = 45
print('Value of our variable is:',a , type(a))
b = str(a)
print('Value of our variable is:',a , type(b))

## 2. Float to int, complex, str

In [31]:
a = 5.19
type(a)

float

In [32]:
int(a)

5

In [ ]:
a = 5.19
print('Value of our variable is:',a , type(a))
a = int(a)
print('Value of our variable is:',a , type(a))

In [ ]:
a = 5.19
print('Value of our variable is:',a , type(a))
a = complex(a)
print('Value of our variable is:',a , type(a))

In [ ]:
a = 5.19
print('Value of our variable is:',a , type(a))
a = str(a)
print('Value of our variable is:',a , type(a))

In [ ]:
a = 5.6
print('Value of our variable is:',a , type(a))
a = int(a)
print('Value of our variable is:',a , type(a))

## 3. Complex to string

In [33]:
a = 1 +8j
int(a)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [34]:
a = 1 +8j
float(a)

TypeError: float() argument must be a string or a real number, not 'complex'

In [35]:
a = 1 +8j
str(a)

'(1+8j)'

## 4. string to other data types

In [40]:
string = '23'
type(string)
b = int(string)
print(b)
print(type(b))

23
<class 'int'>

In [41]:
c = complex(string)
c

(23+0j)

In [42]:
d = float(string)
d

23.0

In [44]:
string2 = "python"
type(string2)
a = int(string2)
print(type(a))
print(a)

ValueError: invalid literal for int() with base 10: 'python'

In [51]:
str1 = """Not only real numbers, Python can also handle complex numbers and 
its associated functions using the file “cmath”. Complex numbers have their
uses in many applications related to mathematics and python provides useful 
tools to handle and manipulate them. Converting real numbers to complex number 
An complex number is represented by “ x + yi “. Python converts the real
numbers x and y into complex using the function complex(x,y). 
The real part can be accessed using the function real() and imaginary 
part can be represented by imag()."""
print(str1)

Not only real numbers, Python can also handle complex numbers and
its associated functions using the file “cmath”. Complex numbers have their
uses in many applications related to mathematics and python provides useful
tools to handle and manipulate them. Converting real numbers to complex number
An complex number is represented by “ x + yi “. Python converts the real
numbers x and y into complex using the function complex(x,y).
The real part can be accessed using the function real() and imaginary
part can be represented by imag().

In [53]:
str2 = """my name is sarika
i am woking as a data science trainer
i have 4 years of experince as a ML Enginner"""

In [54]:
print(str2)

my name is sarika
i am woking as a data science trainer
i have 4 years of experince as a ML Enginner

data types -
numerical data types
int - all whole numbers (0,-ve and +ve)
float - decimal numbers (-ve and +ve)
complex - it is the combination of real and imaginary part(2+6j)

python casting - 
int >> float,complex,str
float >> int,complex,str
comple >> str
str >> if numerical then accoding the numbers save in the string 
       if taxt then it can not change in to any other data type